/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

#root {
    > main {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      max-width: 720px
    }
  }
  