@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
}

.tooltip::before {
    z-index: 9999 !important;
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  background-color: #1f1f1f;
}

/* General styles for the language definition */
.token.comment {
  color: #6b737c; /* Light Gray for better contrast on dark background */
  font-style: italic;
}

.token.keyword {
  color: #f97583; /* Lighter Cyan for enhanced visibility */
  font-weight: bold;
}

.token.string {
  color: #2b5581; /* Soft Yellow for better readability */
}

.token.number {
  color: #1976D2; /* Brighter Purple */
}

.token.boolean {
  color: #1976D2; /* Softer Pink for balance */
}

.token.null {
  color: #1976D2; /* Same Pink as boolean for consistency */
}

.token.identifier {
  color: #888888; /* Lighter Green */
}

.token.operator {
  color: #ffffff; /* Pure White */
}

.token.punctuation {
  color: #212121; /* Pure White */
}

.token.generic {
  color: #5ecdf0; /* Same Cyan as keyword */
}

.token.method {
  color: #b4e272; /* Lighter Green */
}

.token.field {
  color: #b4e272; /* Lighter Green */
}

/* Additional styling for nested structures */
.token.parameters {
  color: #ffffff; /* Pure White */
}

.token.function-name {
  color: #5ecdf0; /* Same Cyan as keyword */
}

.token.parameter-name {
  color: #b4e272; /* Lighter Green */
}

.token.parameter-type {
  color: #ff6a93; /* Softer Pink */
}

.token.type {
  color: #ff6a93; /* Same Pink for consistency */
}
