<!doctype html>
<html lang="en" data-theme="bumblebee">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%sveltekit.assets%/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body data-sveltekit-preload-data="hover" class="font-poppins">
<div style="display: contents" id="root">
  {{{body}}}
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  window.onload = function() {
    {{#with toasts}}
      {{#each this as |toast|}}
        Toastify({
          text: '{{toast.message}}',
          duration: 3000,
          // destination: 'https://github.com/apvarun/toastify-js',
          // newWindow: true,
          close: true,
          gravity: 'top', // `top` or `bottom`
          position: 'left', // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          // style: {
          //   background: 'linear-gradient(to right, #00b09b, #96c93d)',
          // },
          onClick: function() {
            alert('nice click');
          }, // Callback after click
        }).showToast();
      {{/each}}
    {{/with}}

  };
</script>
</body>
</html>
